@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto&display=swap");

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: "Roboto", sans-serif;
}

h1 {
	font-family: "Alfa Slab One", cursive;
	font-weight: normal;
	font-size: 10vw;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
}

fieldset {
	border: none;
	padding: 0;
}

footer {
	margin-top: 5vh;
}
